<!DOCTYPE html>
<html>
<head>
    <title>已经登录</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            alert('已经登录');
            window.location.href = '/home';
        });
    </script>
</head>
<body>
</body>
</html>
